.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  font-size: 2.5rem;

  &-spinner {
    width: 4rem;
    height: 4rem;
    border-top: 0.6rem solid #474955;
    border-radius: 50%;
    animation: spin 900ms linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
